/* css do Menu.js */
.menu{
 display: flex;
 width: 100%;
 flex-direction: row;
 align-items: center;
 border-bottom: double 7px transparent;
  background-image: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255)), linear-gradient(to right, rgb(0, 255, 213), rgb(99, 30, 226));
  background-clip: padding-box, border-box;
  background-origin: border-box;
}
.menu-logo{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.foto{
  width: 150px;
}
.menu-car{
  margin-right: 30px ;
  margin-top: 10px;
  position: inherit;
}
.carrinho{
  width: 40px;
  height: 40px;
  border-radius: 30%;
 }
 .bto-car{
   background-color: white;
   border-radius: 50%;
   width: 70px;
   height: 70px;
 }
 .bto-car:hover{
  border: double 7px transparent;
  background-image: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255)), linear-gradient(to right, rgb(0, 255, 213), rgb(99, 30, 226));
  background-clip: padding-box, border-box;
  background-origin: border-box;
 }
                                     /* css do Home.js */
 .home{
   width: 60%;
   border: double 7px transparent;
  background-image: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255)), linear-gradient(to right, rgb(0, 255, 213), rgb(99, 30, 226));
  background-clip: padding-box, border-box;
  background-origin: border-box;
   display: flex;
   flex-direction: column;
   justify-content: center;
 

 }
 .seletor{
 text-align: center;
 margin-left: 30px;
 background-color: rgb(47, 153, 95);
color: aliceblue;
border: solid white;
}
.sub-home{
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: center;  
  
}
.mercadoria{
  display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 5px;
padding: 5px;
  margin: 3px;
 
  align-content: center;
}
.produto{
  display: inline-block;
  border: 2px solid rgb(227, 228, 228);
  width: 200px;
  padding: 10px;
  text-align: center;
  margin: 10px;

}
.produto:hover{
  border: double 7px transparent;
  background-image: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255)), linear-gradient(to right, rgb(0, 255, 213), rgb(99, 30, 226));
  background-clip: padding-box, border-box;
  background-origin: border-box;
  
}


.imagem-brinquedo{
  width: 70px;
  height: 70px;
}

.bto-comprar{
  border-radius: 10%;
  width: 120px;
  height: 50px;
  background-color: white;
 
}
.bto-comprar:hover{
  border: double 2px transparent;
  background-image: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255)), linear-gradient(to right, rgb(0, 255, 213), rgb(99, 30, 226));
  background-clip: padding-box, border-box;
  background-origin: border-box;
}
.bto-comprar:active{background-image: linear-gradient(rgb(187, 248, 238),rgb(95, 240, 143),rgb(146, 240, 169)), linear-gradient(to right, rgb(0, 255, 213), rgb(99, 30, 226));
}